.container {
    display: grid;
    grid-template-columns: clamp(220px, 20%, 250px) auto;
    grid-template-rows: 60px auto;
    grid-template-areas: 
        "sidebar header"
        "sidebar content-body";
    font-family: "Roboto", sans-serif;
    height: 100vh;
}

.container > * {
    padding: 15px;
}

.sidebar {
    grid-area: sidebar;
    background-color: rgb(22, 151, 250);
    color: white;
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-weight: 600;
}

.sidebar > * {
    cursor: pointer;
}

.logo {
    font-size: 24px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo i {
    font-size: 40px;
}

i {
    cursor: pointer;
}

ul {
    list-style-type: none;
    font-size: 18px;
    display: grid;
    align-items: center;
    gap: 15px;
    padding-left: 10px;
}

li {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
}

.header > * {
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}

.header > * > input {
    width: clamp(300px, 40vw, 500px);
    border: solid rgba(255, 255, 255, 0.74);
    border-radius: 10px;
    padding: 5px;
}

.profile {
    font-weight: bolder;
}

.profile-container {
    border-radius: 50%;
    overflow: hidden;
}

.small {
    width: 40px;
    height: 40px;
}

.big {
    width: 60px;
    height: 60px;
}

.profile-container > img {
    width: 100%;
    height: 100%;
    display: block;
}

.content {
    grid-area: content-body;
    display: grid;
    grid-template-columns: auto 300px;
    grid-template-rows: 60px 470px auto;
    grid-template-areas: 
        "heading heading"
        "projects announcements"
        "projects trending";
}

.content > * {
    padding: 25px 15px;
}

.content-heading {
    grid-area: heading;
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
}

.greeting {
    display: flex;
    gap:12px;
    align-items: center;
}

.greeting-text {
    font-weight: 900;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.text-small {
    font-size: small;
}

.text-regular {
    font-size: 18px;
}

.heading-buttons {
    display: flex;
    align-items: center;
    gap: 30px;
}

.heading-button {
    background-color: rgb(22, 151, 250);
    color: white;
    width: 90px;
    padding: 10px 0px;
    border: none;
    border-radius: 18px;
    cursor: pointer;
    font-weight: 600;
}

.cards-container {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.card {
    padding: 25px;
    border: solid rgb(246, 245, 245);
    border-radius: 10px;
    border-left: solid rgb(206, 168, 0) 8px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cards-buttons {
    padding: 10px 20px;
    padding-bottom: 0px;
    display: flex;
    justify-content: end;
    gap: 23px;
}

.announcements {
    grid-area: announcements;
}

.announcements-container {
    padding: 20px 25px;
}

.trending {
    grid-area: trending;
}

.trending-container {
    padding: 20px 25px;
}

h2 {
    font-weight: bolder;
    font-size: 18px;
}

h3 {
    font-weight: bolder;
    font-size: 17px;
    margin: 0;
    margin-bottom: 5px;
}

h4 {
    font-weight: bolder;
    font-size: 15px;
}

.text {
    color:rgb(105, 104, 104);
}

.announcement-text {
    font-size: small;
}

.trend {
    display: flex;
    gap:12px;
    align-items: center;
    margin-bottom: 20px;
}